# 전국 기준 

### 사용 데이터
- pm10 & pm2.5 : 에어코리아 (시도별 대기정보 -> 일별 평균)
- search : 네이버 데이터랩 검색어 트렌드 (2018.04.01~2019.03.31)
- COUNT_T : 제공된 SNS데이터 중 제목에 '미세먼지'가 들어가는 뉴스기사 개수

In [5]:
import pandas as pd

In [6]:
all = pd.read_excel('../data/pm1025_mean_all.xlsx')

In [7]:
all

         Date     pm10    pm2.5    search  COUNT_T
0    20180401   78.098   35.225  44.57527      234
1    20180402   70.340   28.873  47.48033      371
2    20180403   59.808   21.309  38.61006      251
3    20180404   23.330   11.058  17.58519      352
4    20180405   14.297    8.272   9.17371      293
5    20180406   98.248   24.443  92.82930      627
6    20180407   54.244   21.715  55.94690      207
7    20180408   37.730   16.181  27.22664      199
8    20180409   57.039   29.343  45.54521      407
9    20180410   51.961   22.329  32.88939      278
10   20180411   60.788   22.815  67.59790      357
11   20180412   45.812   15.595  35.55728      236
12   20180413   42.421   15.316  21.16401      223
13   20180414   24.893   13.261   7.68504       95
14   20180416   52.917   23.681  44.27480      318
15   20180417   72.649   30.027  42.09752      350
16   20180418   81.381   33.572  56.43941      436
17   20180419   71.232   34.016  39.59127      361
18   20180420   96.125   47.537  52.26092      361
19   20180421   74.162   38.807  71.71064      159
20   20180422   45.674   24.122  25.24336      198
21   20180423   16.997   11.106   8.63388      179
22   20180424   12.118    6.268  11.90568      259
23   20180425   34.766   21.176  19.36855      298
24   20180426   47.885   31.344  24.36163      258
25   20180427   56.611   35.921  25.90516      165
26   20180428   61.002   36.472  44.16853      159
27   20180429   58.067   34.295  37.42441      196
28   20180430   72.567   49.280  39.63756      358
29   20180501   62.980   44.001  42.25655      257
..        ...      ...      ...       ...      ...
319  20190225   73.129   51.175  23.30721      395
320  20190226   59.588   33.697  20.85587      343
321  20190227   63.518   40.114  18.23366      365
322  20190228   87.200   59.827  21.77756      402
323  20190301  122.207   85.417  35.08651      533
324  20190302  112.147   76.522  34.54557      384
325  20190303   91.451   63.147  36.94112      523
326  20190304  129.091   88.833  46.30675      483
327  20190305  157.901  111.341  66.11012      548
328  20190306  126.939   91.010  65.02082      519
329  20190307   70.008   48.363  75.84490      485
330  20190311   53.393   34.669  36.90754      364
331  20190312   70.267   41.828  42.56447      358
332  20190313   40.790   10.489  23.47118      307
333  20190314   41.028   17.251  18.38394      305
334  20190315   48.533   27.707  25.88224      334
335  20190316   36.777   23.507  19.25129      262
336  20190317   38.308   20.803  17.08201      392
337  20190319   61.229   35.939  23.97944      363
338  20190320   81.859   56.257  33.67384      291
339  20190321   30.965   21.802  21.47542      375
340  20190322   42.425   23.521  15.66310      304
341  20190323   27.372   14.300  10.79538      216
342  20190324   28.695   13.071  10.61116        1
343  20190326   59.902   34.977  28.35198      333
344  20190327   78.664   46.269  30.44773      353
345  20190328   73.641   42.762  32.24049      326
346  20190329   46.848   22.972  24.29974      277
347  20190330   39.077   23.449  14.02592      208
348  20190331   40.550   20.785  14.42199      388

[349 rows x 5 columns]

In [8]:
del all['Date']

In [10]:
aa = all.corr()
aa

             pm10     pm2.5    search   COUNT_T
pm10     1.000000  0.905825  0.757438  0.760709
pm2.5    0.905825  1.000000  0.635916  0.711292
search   0.757438  0.635916  1.000000  0.703595
COUNT_T  0.760709  0.711292  0.703595  1.000000

In [12]:
k1 = all[['pm10','pm2.5']]
k1.corr()

           pm10     pm2.5
pm10   1.000000  0.905825
pm2.5  0.905825  1.000000

In [14]:
k2 = all[['pm10','search']]
k2.corr()

            pm10    search
pm10    1.000000  0.757438
search  0.757438  1.000000

In [15]:
k3 = all[['pm10','COUNT_T']]
k3.corr()

             pm10   COUNT_T
pm10     1.000000  0.760709
COUNT_T  0.760709  1.000000