# 서울시 기준 

### 사용 데이터
- pm10 & pm2.5 : 에어코리아 (시도별 대기정보 -> 서울시 일별 평균)
- search : 구글 트렌드 관심도 (2018.04.01~2019.03.31, 서울특별시)
- retail : 서울특별시 유통 매출지수
- COUNT_T : 제공된 SNS데이터 중 제목에 '미세먼지'가 들어가는 뉴스기사 개수

In [2]:
import pandas as pd

In [3]:
seoul = pd.read_excel('../data/pm1025searchretailcount.xlsx')

In [4]:
seoul

         Date  pm10  pm2.5  search    retail  COUNT_T
0    20180401    74     36      39  1.011766      234
1    20180402    74     29      39  1.094877      371
2    20180403    71     22      39  1.096897      251
3    20180404    15      7      39  1.089331      352
4    20180405     8      5      39  1.039238      293
5    20180406   122     27      39  1.097272      627
6    20180407    51     22      39  1.053457      207
7    20180408    29     15      28  1.090531      199
8    20180409    44     27      28  1.048779      407
9    20180410    49     20      28  1.135352      278
10   20180411    66     25      28  1.105845      357
11   20180412    48     15      28  1.120626      236
12   20180413    38     14      28  1.174582      223
13   20180414    22     12      28  1.075983       95
14   20180416    40     23      39  1.071732      318
15   20180417    63     31      39  1.115169      350
16   20180418    74     34      39  1.117529      436
17   20180419    84     41      39  1.143765      361
18   20180420   109     57      39  1.212982      361
19   20180421    75     41      39  1.233407      159
20   20180422    40     21      23  1.115071      198
21   20180423     9      7      23  1.022090      179
22   20180424    11      6      23  1.103329      259
23   20180425    38     25      23  1.162079      298
24   20180426    47     31      23  1.164909      258
25   20180427    61     42      23  1.200642      165
26   20180428    63     40      23  1.160170      159
27   20180429    57     33      30  1.085448      196
28   20180430    84     60      30  1.172895      358
29   20180501    63     49      30  1.118074      257
..        ...   ...    ...     ...       ...      ...
319  20190225    82     59      41  0.983137      395
320  20190226    53     28      41  1.010581      343
321  20190227    70     45      41  1.025159      365
322  20190228    89     60      41  1.080039      402
323  20190301   120     84      41  1.048684      533
324  20190302   121     85      41  0.992459      384
325  20190303   110     77     100  0.950061      523
326  20190304   169    117     100  1.031293      483
327  20190305   186    135     100  1.043264      548
328  20190306   141    100     100  1.065748      519
329  20190307    57     39     100  1.055632      485
330  20190311    71     46      47  1.031376      364
331  20190312    83     49      47  1.085926      358
332  20190313    42     11      47  1.207895      307
333  20190314    42     20      47  1.595711      305
334  20190315    56     33      47  1.201211      334
335  20190316    41     28      47  1.040723      262
336  20190317    37     23      34  0.974964      392
337  20190319    68     43      34  1.057766      363
338  20190320    94     68      34  1.187503      291
339  20190321    34     27      34  1.046254      375
340  20190322    36     18      34  1.075611      304
341  20190323    24     15      34  1.089767      216
342  20190324    27     13      43  0.999401        1
343  20190326    58     34      43  1.066640      333
344  20190327    94     60      43  1.067192      353
345  20190328    81     49      43  1.088420      326
346  20190329    39     19      43  1.117573      277
347  20190330    35     24      43  1.062068      208
348  20190331    42     26      27  0.932746      388

[349 rows x 6 columns]

In [5]:
del seoul['Date']

In [10]:
c1 = seoul.corr()
c1

             pm10     pm2.5    search    retail   COUNT_T
pm10     1.000000  0.912624  0.690210 -0.264102  0.740524
pm2.5    0.912624  1.000000  0.668076 -0.231178  0.672471
search   0.690210  0.668076  1.000000 -0.272898  0.757976
retail  -0.264102 -0.231178 -0.272898  1.000000 -0.398630
COUNT_T  0.740524  0.672471  0.757976 -0.398630  1.000000

In [16]:
s1 = seoul[['pm10','pm2.5']]
s1.corr()

           pm10     pm2.5
pm10   1.000000  0.912624
pm2.5  0.912624  1.000000

In [17]:
s2 = seoul[['pm10','search']]
s2.corr()

           pm10   search
pm10    1.00000  0.69021
search  0.69021  1.00000

In [18]:
s2 = seoul[['pm10','COUNT_T']]
s2.corr()

             pm10   COUNT_T
pm10     1.000000  0.740524
COUNT_T  0.740524  1.000000

In [19]:
s2 = seoul[['pm10','retail']]
s2.corr()

            pm10    retail
pm10    1.000000 -0.264102
retail -0.264102  1.000000